@font-face {
  font-family: FlowExt;
  src: url('../fonts/FlowExt.otf') format('opentype');
}

@font-face {
  font-family: FlowExt;
  font-weight: bold;
  src: url('../fonts/FlowExtBold.otf') format('opentype');
}
